body{
  background-color: #FFFFFF;
}
header{
  height:50px;
  width:100%;
  background-color: #FFFFFF;
  box-shadow: 0px 5px 4px rgba(229, 229, 229, 0.5);
  padding: 10px 0px;
  margin-bottom: 90px;
}
.headlefft{
  font-size: 20px;
  color: #3BC163;
  font-family: Open Sans;
  float: left;
  padding-left: 40px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.headright3{
  font-size: 13px;
  background-color: #3BC163;
  color:#FFFFFF;
  font-family: Open Sans;
  float: right;
  height: 30px;
  width:100px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 40px;
  border: none;
  border-radius: 2px;
}
.headright2{
  font-size: 13px;
  color: #3BC163;
  font-family: Open Sans;
  float: right;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.headright1{
  font-size: 13px;
  color: #A1A6A9;
  font-family: Open Sans;
  float: right;
  padding-left: 10.9px;
  padding-right: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.aboveimg{
  float: right;
  padding-left: 39px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.classimg{
  height: 15px;
  width: 15px;
}
.toppadding{
  padding-top: 10px;
  margin-top: 40px;
  position: relative;
}
.toppaddingforrem{
  margin-top: 40px;
  position: relative;
}
.labelrem{
  padding-left: 5px;
}
.inputname{
  border: 0.5px solid #A1A6A9 ;
  width: 100%;
  padding:10px;
  height:50px;
  width: 450px;
}
.inputnamedom{
  border: 0.5px solid #A1A6A9 ;
  border-right: none;
  width: 100%;
  padding:10px;
  height:50px;
  width: 334px;
}
.inputnamedom:focus{
  border: 0.5px solid #C4250C ;
  border-right: none;
  width: 100%;
  padding:10px;
  height:50px;
  width: 334px;
}
.inputnamedom1{
  border:none ;
  background-color: linear-gradient(180deg, rgba(235, 238, 240, 0.4) 0%, rgba(207, 207, 212, 0.4) 100%);
  width: 100%;
  padding:10px;
  height:50px;
  width: 117px;
}
.inputname1{
  border: 0.5px solid #A1A6A9 ;
  width: 100%;
  padding:10px;
  height:50px;
  width: 210px;
}
.inputname:focus{
  border: 0.5px solid #C4250C ;
  width: 100%;
  padding:10px;
  height:50px;
  width: 450px;
}
.inputname1:focus{
  border: 0.5px solid #C4250C ;
  width: 100%;
  padding:10px;
  height:50px;
  width: 210px;
}
.labelinputinitial{
  color:#A1A6A9;
  font-size: 13px;
  font-family: Open Sans;
  position: absolute;
  top:-10px;
  left: 0px;
}
.inputname:focus + label { color:#C4250C; }
.inputname1:focus + label { color:#C4250C; }
.inputnamedom:focus + label { color:#C4250C; }


.titlehead{
  color: #183247;
  font-size: 33px;
  font-family:  Open Sans;
  font-weight: bold;
}
#card1{
  /* height: 321px;
  width: 451px; */
  margin-top: 100px;
  /* min-width: 451px;
  max-width: 451px; */
  padding-left: 50.67px;
}
#card2{
  padding-left: 50.67px;
}
#card3{
  padding-top: 59px;
}
.insidecard{
  min-width: 451px;
  max-width: 451px;
  height: 321px;
  width: 451px;
}
.desc{
  color: rgba(24, 50, 71, 0.7);
  font-size: 13px;
  font-family: Open Sans;
}
.imgclass{
  width: 693.33px;
  height: 520px;
}
#leftspace{
  margin-left: 5%;
}
.emailcon{
  padding:10px 25px;
  background: #3BC163;
  width: 140px;
  height: 38px;
  color:#FFFFFF;
  font-size: 13px;
  font-family: Open Sans;
  border: none;
  margin-top: 40px;
  border-radius: 2px;
  cursor: pointer;
}

.box{
  padding:0px 20px
}
.topvalid{
  padding-top:20px
}
.verify{
  font-size: 13px;
  color: rgba(196, 37, 12, 0.7);
}
.resend{
  color: #00ccff;
  padding-left: 5px;
  font-size: 13px;

}

.submit1{
  float: right;
}